{% load i18n %}

<div class="app-adminPanel module">
    <table>
        <caption>
            Chronic Genie
        </caption>
        <tr class="model-aggravator">
          <th scope="row"><a href="/admin">Dashboard</a></th>
          <td></td>
      </tr>
        <tr class="model-aggravator">
            <th scope="row"><a href="/admin/user/account">Users</a></th>
            <td></td>
        </tr>        
        <tr class="model-aggravator">
            <th scope="row"><a href="/api/stats/customized_search">Analytics</a></th>
            <td></td>
        </tr>
</table>
</div>
<div class="app-adminPanel module">
  <table>
      <caption>
          APP SETTINGS
      </caption>
      <tr class="model-aggravator">
        <th scope="row"><a href="/admin/adminPanel/appsettings">App Settings</a></th>
        <td></td>
    </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/marketingemail">Marketing Emails</a></th>
          <td></td>
      </tr>        
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/symptom">Symptoms</a></th>
          <td></td>
      </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/aggravator">Aggravators</a></th>
          <td></td>
      </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/comorbidity">Comorbidities</a></th>
          <td></td>
      </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/food">Foods</a></th>
          <td></td>
      </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/flaremedication">Flare medications</a></th>
          <td></td>
      </tr>
      <tr class="model-aggravator">
          <th scope="row"><a href="/admin/adminPanel/dailymedication">Daily medications</a></th>
          <td></td>
      </tr>
</table>
</div>
