{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/chartist.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/user_summary_dashboard/style.css" %}">{% endblock %}


{% block bodyclass %}{{ block.super }} container {% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}
{% include "admin/nav_sidebar.html" %}
{% endblock %}

{% block content %}
<div id="content-main">
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-body">
            <div class="graph--ts p-2">
              <div class="row justify-content-center mb-4">
                <div class="col-5 col-md-4">
                  <div class="card">
                    <div class="card-body py-2 ph-3">
                      <h2>Total Users</h2>
                      <h5 id="total">0</h5>
                    </div>
                  </div>
                </div>
                <div id="user-summary-filters" class="col-7 col-md-8 text-right">
                  <div class="btn-group cs-select-btn" id="selectButton">
                    <button
                      type="button"
                      class="btn btn-outline-primary active"
                      data-id="week"
                    >
                      Week
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-id="month"
                    >
                      Month
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-id="year"
                    >
                      Year
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-id="all"
                    >
                      All
                    </button>
                  </div>
                </div>
              </div>
              <div class="time">
                <div class="spinner-div text-center">
                  <div
                    class="spinner-border text-info"
                    style="width: 3rem; height: 3rem"
                    role="status"
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <canvas id="barChart" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static "js/jquery-3.6.0.min.js" %}" ></script>
<script src="{% static "js/chart.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/user_summary_dashboard/script.js" %}"></script>
{% endblock %}

